
.mapdiv{
    width: 29%;
    margin: auto;
}

.mapdiv path{
    fill:#6f9c76;
    stroke: #17281a;
    stroke-width: 2px;
    transition: fill 0.3s;
}

.mapdiv path:hover{
    fill: #17281a;
    stroke: wheat
}